{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<header class="p-3 mb-3 border-bottom bg-warning">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>            </a>
            <li><a href="{{ path('home') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
            <li><a href="{{ path('app_films_index') }}" class="nav-link px-2 link-dark">Ajouter films</a></li>
            <li><a href="{{ path('app_series_index') }}" class="nav-link px-2 link-dark">Ajouter séries</a></li>
            <li><a href="{{ path('contact') }}" class="nav-link px-2 link-dark">Contact</a></li>
            <li><a href="{{ path('app_user') }}" class="nav-link px-2 link-dark">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}" class="nav-link px-2 link-dark">Déconnexion</a></li>
        </ul>
    </div>
</header>

    <div class="text-center">
        <h1>Inscrivez-vous !!</h1>

    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
    </svg>        
<br>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.firstname) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Valide</button>
    {{ form_end(registrationForm) }}
{% endblock %}
