{% extends 'base.html.twig' %}

{% block title %}Films index{% endblock %}

{% block body %}
    <h1>Index des films</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genre</th>
                <th>Résumer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for films in films %}
            <tr>
                <td>{{ films.id }}</td>
                <td>{{ films.title }}</td>
                <td>{{ films.autor }}</td>
                <td>{{ films.genre.name }}</td>
                <td>{{ films.summarize }}</td>
                <td>
                    <a href="{{ path('app_films_show', {'id': films.id}) }}">Montrer</a>
                    <a href="{{ path('app_films_edit', {'id': films.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Non trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_films_new') }}">Créer</a>
{% endblock %}
