{% extends 'base.html.twig' %}

{% block title %}New Films{% endblock %}

{% block body %}

<!--Navbar-->
<section>
<header class="p-3 text-bg-warning">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('home') }}" class="nav-link px-2 text-secondary">Accueil</a></li>
                <li><a href="{{ path('app_films_index') }}" class="nav-link px-2 text-white">Films</a></li>
                <li><a href="{{ path('app_series_index') }}" class="nav-link px-2 text-white">Séries</a></li>
                <li><a href="{{ path('contact') }}" class="nav-link px-2 text-white">Contact</a></li>
            </ul>
            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-secondary text-light" type="submit">Rechercher</button><br>
                </form>
            </div>
            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('app_login') }}" class="nav-link px-2 text-black">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}" class="nav-link px-2 text-black">Inscription</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</section>
<!--End Navbar-->

    <h1>Créer un nouveau film</h1>

    {{ include('films/_form.html.twig') }}

    <a href="{{ path('app_films_index') }}">Retour à la liste</a>
{% endblock %}
