{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!--Navbar-->
<section>
<header class="p-3 text-bg-warning">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
            <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
            </svg>
        </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('home') }}" class="nav-link px-2 text-secondary">Accueil</a></li>
                <li><a href="{{ path('app_films_index') }}" class="nav-link px-2 text-white">Films</a></li>
                <li><a href="{{ path('app_series_index') }}" class="nav-link px-2 text-white">Séries</a></li>
                <li><a href="{{ path('contact') }}" class="nav-link px-2 text-white">Contact</a></li>
            </ul>
            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-secondary text-light" type="submit">Rechercher</button><br>
                </form>
            </div>
            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('app_login') }}" class="nav-link px-2 text-black">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}" class="nav-link px-2 text-black">Inscription</a></li>
                    <li><a href="{{ path('app_admin_dashboard') }}" class="nav-link px-2 text-black">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
</section>
<!--End Navbar-->

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-3 col-md-4 mx-auto">
            <h1 class="fw-light">Bienvenue sur notre site de streaming</h1>
            <p class="lead text-muted">Regardez vos films et séries préférés en streaming</p>
            <p>
                <a href="{{ path('app_films_index') }}" class="btn btn-warning my-2">Films</a>
                <a href="{{ path('app_series_index') }}" class="btn btn-dark my-2">Séries</a>
            </p>
        </div>
    </div>
</section>

<!--Carousel-->

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/id/530301359/fr/photo/prochainement.jpg?s=612x612&w=0&k=20&c=WT0zBUwqzNDS-IMBTkF2pEUAK7Z9ZPeBVF6mb0HQeGo=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1188264371/fr/photo/clipper-dans-un-chapeau-de-noel-sur-le-fond.jpg?s=612x612&w=0&k=20&c=-Avr92NsWgEjYpRhH_UYUGJV6Tzna3RLHBZcKuLmPUc=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1752469446/fr/photo/d%C3%A9corez-les-couloirs-pour-la-soir%C3%A9e-cin%C3%A9ma-du-nouvel-an-un-seau-en-carton-ray%C3%A9-avec-du-ma%C3%AFs.jpg?s=612x612&w=0&k=20&c=OwdC9zUM6rwb2IyfSND8QcbtO3xV6SbyqXkxxB67uOE=" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Footer -->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-white">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2021 Company, Inc</span>
    </div>
  </footer>
</div>
</main>
</body>
    <!--End Carousel-->
{% endblock %}
