{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Index des séries</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genre</th>
                <th>Résumer</th>
                <th>Nombre d'épisode</th>
                <th>Nombre de saisons</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.title }}</td>
                <td>{{ series.autor }}</td>
                <td>{{ series.genre.name }}</td>
                <td>{{ series.summarize }}</td>
                <td>{{ series.nbrepisodes }}</td>
                <td>{{ series.nbrseasons }}</td>
                <td>
                    <a href="{{ path('app_series_show', {'id': series.id}) }}">Montrer</a>
                    <a href="{{ path('app_series_edit', {'id': series.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Non trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_series_new') }}">Créer</a>
{% endblock %}
