{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Séries</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ series.autor }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ series.genre.name }}</td>
            </tr>
            <tr>
                <th>Résumer</th>
                <td>{{ series.summarize }}</td>
            </tr>
            <tr>
                <th>Nombres d'épisodes</th>
                <td>{{ series.nbrepisodes }}</td>
            </tr>
            <tr>
                <th>Nombre de saisons</th>
                <td>{{ series.nbrseasons }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_series_index') }}">Retour à la liste</a>

    <a href="{{ path('app_series_edit', {'id': series.id}) }}">Editer</a>

    {{ include('series/_delete_form.html.twig') }}
{% endblock %}
